body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}


.rl_container {
    text-align: center;
    margin-top: 50px;
}

.rl_container .form_element {
    margin-top: 20px;
}


.rl_container h2 {
    font-size: 33px;
    font-weight: 300;
    color: #02bcd4;
}

.rl_container input {
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 11px 31px;
    background: #f7f7f7;
    font-weight: 300;
    width: 260px;
}
.rl_container.article input {
    width: 80%;
}

.rl_container textarea {
    background: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.rl_container.article select {
    width: 80%;
    background: #f7f7f7;
    font-size: 20px;
    border: 1px solid #e1e1e1;
}

.rl_container button {
    font-size: 20px;
    padding: 10px 52px;
    background: #02bcd4;
    color: #fff;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    width: 260px;
}
.rl_container.article button {
    width: 80%;
}

.rl_container .conf_link {
    color: #8BC34A;
    font-weight: 600;
    margin-top: 20px;
}

.rl_container .error {
    color: #FF5722;
    margin-top: 10px;
    font-weight: 600;
}

.rl_container .success a {
    color: #FF5722;
    font-size: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



.rl_container select {
    width: 260px;
    background: #f7f7f7;
    font-size: 20px;
    border: 1px solid #e1e1e1;
    color: #757575;
    font-weight: 300;
}

textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 10px;
}

button {
    cursor: pointer;
}

.form_element span {
    color: #02bcd4;
    position: relative;
    right: 20px;
}

.edit_confirm {

}



@keyframes cssAnimation {
    to {
        width:0;
        opacity: 0;
    }
}

